* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
    color: white;
}

html,
body {
    height: 100%;
    width: 100%;
}

.main {
    height: 100%;
    width: 100%;
    background-color: #111;
    position: relative;
}

.ele {
    height: 120px;
    width: 100%;
    border-bottom: 2px solid whitesmoke;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;

}

.ele h1 {
    font-size: 4.5vw;
    z-index: 1;
    position: relative;
    mix-blend-mode: difference;
}

.ele img {
    height: 125px;
    width: 125px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    position: absolute;
    opacity: 0;
    transition: all linear 0.3s;
    
}